{% extends 'base.html' %}
{% block title %}
{% load static %}
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Дашборд</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Дашборд</a></li>
              <li class="breadcrumb-item active">Дашборд</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">

        </div>


        <div class="row">
          <div class="col-lg-4">
             <div class="card">
              <div class="card-header">
                <h3 class="card-title">Менеджеры</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>ФИО</th>
                      <th>Заявок в работе</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for manager in managers %}
                    <tr>
                      <td>{{ manager.first_name }} {{ manager.last_name }}</td>
                      <td>
                        {{ manager.qt }}
                      </td>
                      <td>
                        <a href="#"  class="btn btn-primary btn-sm">
                          <i class="fas fa-folder"></i>
                          View
                         </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-2 col-3">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>

                <p>Экономия в текущем квартале</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-2 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>150</h3>
                <p>Заключено договоров</p>
              </div>
              <div class="icon">
                <i class="fas fa-shopping-cart"></i>
              </div>
            </div>
          </div>
          </div>
          <!-- /.col-md-6 -->

        <!-- /.row -->


        <!-- Default box -->
          <div class="card">
              <div class="card-header">
                <h3 class="card-title">Заявки на приобретение</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Номер заявки</th>
                    <th>Дата заявки</th>
                    <th>Дата поступления в ДКЗ</th>
                    <th>Предмет закупки</th>
                    <th>Форма закупки</th>
                    <th>Сумма закупки</th>
                    <th>Валюта</th>
                    <th>Инициатор</th>
                    <th>Работник инициатора</th>
                    <th>Статус</th>
                    <th>Менеджер</th>
                    <th>Комментарий</th>
                    <th>Номер договора</th>
                    <th>Дата договора</th>
                    <th>Контрагент</th>
                    <th>Цена договора</th>
                    <th>Курс</th>
                    <th>Цена договора в рублях</th>
                    <th>Экономия</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for purchase_order in purchase_orders %}
                  <tr>
                    <th>{{ purchase_order.number }}</th>
                    <th>{{ purchase_order.date }}</th>
                    <th>{{ purchase_order.date_in_dkz }}</th>
                    <th>{{ purchase_order.subject }}</th>
                    <th>{{ purchase_order.get_format_display }}</th>
                    <th>{{ purchase_order.amount }}</th>
                    <th>{{ purchase_order.currency }}</th>
                    <th>{{ purchase_order.department_initiator }}</th>
                    <th>{{ purchase_order.employee_initiator }}</th>
                    <th>{{ purchase_order.get_status_display }}</th>
                    <th>{{ purchase_order.employee_dkz.first_name }} {{ request.employee_dkz.last_name }}</th>
                    <th>{{ purchase_order.comment|default_if_none:"&nbsp;" }}</th>
                    <th>{{ purchase_order.contract_number|default_if_none:"&nbsp;" }}</th>
                    <th>{{ purchase_order.contract_date|default_if_none:"&nbsp;" }}</th>
                    <th>{{ purchase_order.contractor|default_if_none:"&nbsp;" }}</th>
                    <th>{{ purchase_order.contract_price|default_if_none:"&nbsp;" }}</th>
                    <th>{{ purchase_order.rate|default_if_none:"&nbsp;" }}</th>
                    <th>{{ purchase_order.contract_price_rub|default_if_none:"&nbsp;" }}</th>
                    {% for id, save in saving.items %}
                    {% if id == purchase_order.id %}
                    <th>{{ save }} %</th>
                    {% endif %}
                    {% endfor %}
                  </tr>
                  {% endfor %}
                  </tbody>

                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
{% block scripts %}
{% load static %}
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>

{% endblock %}

