<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}
  <!-- datepicker -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
{% endblock %}
{% load static %}

{% block content %}


<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Новая заявка</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Дашборд</a></li>
              <li class="breadcrumb-item active">Новая заявка</li>
            </ol>
          </div>
          <div class="col-sm-6">
            {% if args.inf_edit %}
              <p class="alert alert-info" role="alert">Заявка сохранена</p>
            {% endif %}
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <form method="post" action="" class="content">
        {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Заявка на приобретение</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <label for="inputName">Номер заявки</label>
                    {{ form.number }}
                  </div>
                  <div class="col-md-4">
                    <label for="inputName">Дата заявки</label>
                    {{ form.date }}
                  </div>
                  <div class="col-md-4">
                    <label for="inputName">Дата поступления в ДКЗ</label>
                    {{ form.date_in_dkz }}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputDescription">Предмет</label>
                {{ form.subject }}
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label for="inputStatus">Форма закупки</label>
                  {{ form.format }}
                </div>
                <div class="col-md-4">
                  <label for="inputName">Сумма закупки</label>
                    {{ form.amount }}
                </div>
                <div class="col-md-4">
                  <label for="inputStatus">Валюта</label>
                  {{ form.currency }}
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label for="inputName">Инициатор</label>
                    {{ form.department_initiator }}
                </div>
                <div class="col-md-6">
                  <label for="inputName">Работник инициатора</label>
                    {{ form.employee_initiator }}
                </div>
              </div>
              <div class="row mt-3 mb-3">
                <div class="col-md-6">
                  <label for="inputStatus">Статус</label>
                    {{ form.status }}
                </div>
              </div>
              <div class="form-group">
                <label for="inputDescription">Комментарий</label>
                {{ form.comment }}
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-6">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Договор</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                  <div class="col-md-4">
                    <label for="inputName">Номер договора</label>
                    {{ form.contract_number }}
                  </div>
                  <div class="col-md-4">
                    <label for="inputName">Дата договора</label>
                    {{ form.contract_date }}
                  </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label for="inputName">Контрагент</label>
                  {{ form.contractor }}
                </div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-4">
                    <label for="inputName">Цена договора</label>
                    {{ form.contract_price }}
                  </div>
                  <div class="col-md-4">
                    <label for="inputName">Курс рубля</label>
                    {{ form.rate }}
                  </div>
                  <div class="col-md-4">
                    <label for="inputName">Цена договора в рублях</label>
                    {{ form.contract_price_rub }}
                  </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
        <div class="form-group">
          <input type="submit" class="btn btn-success" value="Сохранить">
        </div>
      </form>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
{% block scripts %}
<script>
  $(function() {
    $( "#date" ).datepicker({
        numberOfMonths: 1,
        showButtonPanel: true,
        onSelect: function(dateText, inst) {
            $(this).parents("form").submit();
        },

    });
  });
</script>
{% endblock %}