<!DOCTYPE html>
{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Новая заявка</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Дашборд</a></li>
              <li class="breadcrumb-item active">Новая заявка</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <form method="post" action="" class="content">
        {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Заявка на приобретение</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <label for="inputName">Номер заявки</label>
                    <input type="text" id="inputName" class="form-control">
                  </div>
                  <div class="col-md-4">
                    <label for="inputName">Дата заявки</label>
                    <input type="text" id="inputName" class="form-control">
                  </div>
                  <div class="col-md-4">
                    <label for="inputName">Дата поступления в ДКЗ</label>
                    <input type="text" id="inputName" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputDescription">Предмет</label>
                <textarea id="inputDescription" class="form-control" rows="4"></textarea>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label for="inputStatus">Форма закупки</label>
                  <select id="inputStatus" class="form-control custom-select">
                    <option selected disabled>Select one</option>
                    <option>On Hold</option>
                    <option>Canceled</option>
                    <option>Success</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="inputName">Сумма закупки</label>
                    <input type="text" id="inputName" class="form-control">
                </div>
                <div class="col-md-4">
                  <label for="inputStatus">Валюта</label>
                  <select id="inputStatus" class="form-control custom-select">
                    <option selected disabled>Select one</option>
                    <option>RUB</option>
                    <option>USD</option>
                    <option>EUR</option>
                  </select>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label for="inputName">Инициатор</label>
                    <input type="text" id="inputName" class="form-control">
                </div>
                <div class="col-md-6">
                  <label for="inputName">Работник инициатора</label>
                    <input type="text" id="inputName" class="form-control">
                </div>
              </div>
              <div class="row mt-3 mb-3">
                <div class="col-md-6">
                  <label for="inputStatus">Статус</label>
                    <select id="inputStatus" class="form-control custom-select">
                      <option selected disabled>Select one</option>
                      <option>RUB</option>
                      <option>USD</option>
                      <option>EUR</option>
                    </select>
                </div>
              </div>
              <div class="form-group">
                <label for="inputDescription">Комментарий</label>
                <textarea id="inputDescription" class="form-control" rows="4"></textarea>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-6">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Договор</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                  <div class="col-md-4">
                    <label for="inputName">Номер договора</label>
                    <input type="text" id="inputName" class="form-control">
                  </div>
                  <div class="col-md-4">
                    <label for="inputName">Дата договора</label>
                    <input type="text" id="inputName" class="form-control">
                  </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label for="inputName">Контрагент</label>
                  <input type="text" id="inputName" class="form-control">
                </div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-4">
                    <label for="inputName">Цена договора</label>
                    <input type="text" id="inputName" class="form-control">
                  </div>
                  <div class="col-md-4">
                    <label for="inputName">Курс рубля</label>
                    <input type="text" id="inputName" class="form-control">
                  </div>
                  <div class="col-md-4">
                    <label for="inputName">Цена договора в рублях</label>
                    <input type="text" id="inputName" class="form-control">
                  </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
        <div class="form-group">
          <input type="submit" class="btn btn-success" value="Сохранить">
        </div>
      </form>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %}